[submodule "core"]
	path = core
	url = https://git.sbis.ru/integration/vo3_core.git
	branch = rc-23.5100
[submodule "BlocklyExecutor"]
	path = BlocklyExecutor
	url = https://git.sbis.ru/integration/blockly_executor_1c.git
	branch = rc-23.5100
[submodule "BlocklySabyBlocks"]
	path = BlocklySabyBlocks
	url = https://git.sbis.ru/integration/blockly_saby_blocks_1c.git
	branch = rc-23.5100